@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon.eot?b6h800');
    src:  url('../font/icomoon.eot?b6h800#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?b6h800') format('truetype'),
    url('../font/icomoon.woff?b6h800') format('woff'),
    url('../font/icomoon.svg?b6h800#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-notdef:before {
    content: "\e900";
}
.icon-numbersign:before {
    content: "\4f60";
}
.icon-plus:before {
    content: "\2b";
}
.icon-hyphen:before {
    content: "\2d";
}
.icon-hyphen1:before {
    content: "\ad";
}
.icon-slash:before {
    content: "\2f";
}
.icon-zero:before {
    content: "\30";
}
.icon-one:before {
    content: "\31";
}
.icon-two:before {
    content: "\32";
}
.icon-three:before {
    content: "\33";
}
.icon-four:before {
    content: "\34";
}
.icon-five:before {
    content: "\35";
}
.icon-six:before {
    content: "\36";
}
.icon-seven:before {
    content: "\37";
}
.icon-eight:before {
    content: "\38";
}
.icon-nine:before {
    content: "\39";
}
.icon-question:before {
    content: "\3f";
}
.icon-A:before {
    content: "\41";
}
.icon-B:before {
    content: "\42";
}
.icon-C:before {
    content: "\43";
}
.icon-D:before {
    content: "\45";
}
.icon-E:before {
    content: "\46";
}
.icon-F:before {
    content: "\47";
}
.icon-K:before {
    content: "\4b";
}
.icon-L:before {
    content: "\4c";
}
.icon-M:before {
    content: "\4d";
}
.icon-N:before {
    content: "\4f";
}
.icon-O:before {
    content: "\50";
}
.icon-P:before {
    content: "\51";
}
.icon-Q:before {
    content: "\52";
}
.icon-R:before {
    content: "\53";
}
.icon-S:before {
    content: "\54";
}
.icon-T:before {
    content: "\55";
}
.icon-U:before {
    content: "\56";
}
.icon-V:before {
    content: "\57";
}
.icon-W:before {
    content: "\58";
}
.icon-X:before {
    content: "\59";
}
.icon-Y:before {
    content: "\5a";
}
.icon-Z:before {
    content: "\5b";
}
.icon-asciicircum:before {
    content: "\5e";
}
.icon-underscore:before {
    content: "\5f";
}
.icon-a:before {
    content: "\63";
}
.icon-b:before {
    content: "\66";
}
.icon-c:before {
    content: "\67";
}
.icon-d:before {
    content: "\69";
}
.icon-e:before {
    content: "\6a";
}
.icon-f:before {
    content: "\6b";
}
.icon-g:before {
    content: "\6c";
}
.icon-h:before {
    content: "\6d";
}
.icon-i:before {
    content: "\6e";
}
.icon-j:before {
    content: "\6f";
}
.icon-k:before {
    content: "\70";
}
.icon-l:before {
    content: "\71";
}
.icon-m:before {
    content: "\72";
}
.icon-n:before {
    content: "\75";
}
.icon-o:before {
    content: "\76";
}
.icon-p:before {
    content: "\78";
}
.icon-q:before {
    content: "\79";
}
.icon-r:before {
    content: "\7a";
}
.icon-s:before {
    content: "\7b";
}
.icon-t:before {
    content: "\7c";
}
.icon-u:before {
    content: "\7d";
}
.icon-v:before {
    content: "\7e";
}
.icon-w:before {
    content: "\7f";
}
.icon-x:before {
    content: "\80";
}
.icon-y:before {
    content: "\81";
}
.icon-z:before {
    content: "\82";
}
.icon-uni993C:before {
    content: "\4e";
}
.icon-uni9EA3:before {
    content: "\44";
}
.icon-uni9F92:before {
    content: "\68";
}
.icon-uni9FA4:before {
    content: "\65";
}
.icon-uni9A4B:before {
    content: "\77";
}
.icon-uni9476:before {
    content: "\62";
}
.icon-uni9F64:before {
    content: "\74";
}
.icon-uni958F:before {
    content: "\64";
}
.icon-uni9FA5:before {
    content: "\73";
}
.icon-uni9E3A:before {
    content: "\61";
}
