{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

                <title>lx</title>
	<link rel="stylesheet" type="text/css" href="{% static 'tboys/css/myfont.css' %}"/>
</head>
<body>
<span style="width:100%;color: #be17ae">

    <span class="icon-unasdsssfl"></span>
<span class="icon-unissfl"></span><span class="icon-B"></span><span class="icon-kissf3"></span><span class="icon-uni9FA4"></span><span class="icon-g"></span><span class="icon-d"></span>e<span class="icon-o"></span>e
<span class="icon-issf3"></span>i<span class="icon-i"></span><span class="icon-unasdsssfl"></span>
    <span class="icon-unasdss12"></span>
    <span class="icon-unasdsspoi"></span>
    <span class="icon-unas22sf2"></span>
    <span class="icon-unasdsadsfl"></span>
<span class="icon-K"></span>i<span class="icon-uniiif3"></span>n<span class="icon-uni958F"></span>ne<span class="icon-uni9FA5"></span><span class="icon-uni9FA5"></span>
<span class="icon-unf3"></span>,<span class="icon-unissf3"></span> d<span class="icon-2nissf3"></span>e<span class="icon-unisso0"></span>l<span class="icon-OP"></span><span class="icon-unipof1"></span>i<span class="icon-uni9476"></span>e<span class="icon-m"></span><span class="icon-uni9E3A"></span><span class="icon-uni9F64"></span>ion
<span class="icon-A"></span>n<span class="icon-uni958F"></span>
<span class="icon-uni958F"></span>i<span class="icon-unlssf3"></span>l<span class="icon-pnissf3"></span>i<span class="icon-c"></span>en<span class="icon-a"></span>e
</span>

</body>
</html>