{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>lx.website</title>

<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

<link href="/static/resume/css/vendors.css" rel="stylesheet">
<link href="/static/resume/css/demo5.css" rel="stylesheet">
	    <link rel="shortcut icon" href="/static/resume/images/favicon.ico"/>

</head>
<body>

<div class="overlay"></div>

<main>
	<div class="frame">
		<div class="frame__demos">
            <a href="/blog/" class="frame__demo frame__demo--current">个人博客</a>
			<a href="/resume/" class="frame__demo">个人简历</a>
            <a href="/music/" class="frame__demo">音乐网站</a>
            <a href="/buyer/" class="frame__demo">男装商城</a>
			<a href="CSDN: https://blog.csdn.net/weixin_44211083" class="frame__demo" target="_blank">csdn</a>
			<a href="https://github.com/li971202"  target="_blank" >githup</a>

		</div>
	</div>
</main>

<script type="text/javascript" src="/static/resume/js/vendors.js"></script>
<script type="text/javascript" src="/static/resume/js/demo5.js"></script>

</body>
</html>
