{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>lx.blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Bootstrap Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

{#	<link rel="shortcut icon" href="login_ico.png">#}
	    <link rel="shortcut icon" href="{% static 'resume/images/favicon.ico' %}"/>

{#	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,700' rel='stylesheet' type='text/css'>#}
{#	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,700' rel='stylesheet' type='text/css'>#}
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'blog/css/animate.css'%}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static  'blog/css/flexslider.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'blog/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.css'%}">

	<link rel="stylesheet" id="theme-switch" href="{% static 'blog/css/style.css'%}">

	<!-- jQuery -->
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<!-- jQuery Cookie -->
	<script src="{% static 'blog/js/jquery.cookie.js'%}"></script>


	<!-- Bootstrap -->
	<script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'blog/js/jquery.waypoints.min.js'%}"></script>
	<!-- Flexslider -->
	<script src="{% static 'blog/js/jquery.flexslider-min.js'%}"></script>

	<!-- Viewport Units Buggyfill -->
	<script src="{% static 'blog/js/viewport-units-buggyfill.js'%}"></script>

	<!-- Googgle Map -->
{#	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>#}
{#	<script src="{% static 'blog/js/google_map.js'%}></script>#}

	
	<!-- Main JS  -->
	<script src="{% static '/blog/js/main.js'%}"></script>

	<!-- Modernizr JS -->
	<script src="{% static 'blog/js/modernizr-2.6.2.min.js'%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'blog/js/respond.min.js'%}"></script>
	<![endif]-->

	</head>

	<body>
	
	<!-- Loader -->
	<div class="fh5co-loader"></div>
	
	<div id="fh5co-page">
		<nav id="fh5co-nav" role="navigation">
			<ul>
				<li class="animate-box fh5co-active"><a href="/blog/" class="transition">Home</a></li>
				<li class="animate-box"><a href="/blog/share" class="transition">Share</a></li>
			</ul>
{#			<a class="style-toggle js-style-toggle" data-style="default" href="#">#}
{#				<span class="fh5co-circle"></span>#}
{#			</a>#}
		</nav>
		
		<header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">
			<div class="container">
				<div class="fh5co-text-wrap animate-box">
					<div class="fh5co-intro-text">
						<h1>I&acute;m a 22 Year Old Python Web developer <span>in</span>  bei jing</h1>
						<h2>Crafted by <a href="/" target="_blank">LX</a></h2>
					</div>
				</div>
			</div>
			<div class="btn-next animate-box fh5co-learn-more">
				<a href="#" class="scroll-btn">
					<span>See my procss</span>
					<i class="icon-chevron-down"></i>
				</a>
			</div>
		</header>
		<!-- data-colorbg="#8cc53e"  -->
		<div class="fh5co-project js-fh5co-waypoint" data-bgcolor="" data-next="yes">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="{% static 'blog/images/work_1111.png'%}" alt="">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="{% static 'blog/images/work_1_small.jpg'%}" alt="">
						</div>
					</div>
					<div class="fh5co-text col-md-4 animate-box">
						<h2>Guide  Page</h2>
						<p>Far far away, behind the word mountains, There is a story waiting for you to open, in fact, is back to the home page</p>
						<p><a href="/" class="btn btn-light btn-outline transition"  target="_blank">Click will send</a></p>
					</div>
				</div>

			</div>
		</div>
        <div class="copyrights">lx <a href="http://www.cssmoban.com/" >lx</a></div>
		<!-- data-colorbg="#FF6138" -->
		<div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="" data-next="yes">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="{% static 'blog/images/work_2_large.jpg'%}" alt="">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="{% static 'blog/images/work_2_small.jpg'%}" alt="">
						</div>
					</div>
					<div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
						<h2>What I am doing</h2>
						<p>Hey how are you. Inside is my resume,Welcome to check it out and remember to come back in the comments</p>
						<p><a href="/resume/" class="btn btn-light btn-outline transition">kill dragon knife</a></p>
					</div>
				</div>

			</div>
		</div>

		<!-- data-colorbg="#2d4059" -->
		<div class="fh5co-project js-fh5co-waypoint" data-colorbg="" data-next="yes">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="{% static 'tboys/images/beforeafter_3/317838.jpg' %}" alt="Free HTML5 Bootstrap Template">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="{% static 'blog/images/work_3_small.jpg' %}" alt="Free HTML5 Bootstrap Template">
						</div>
					</div>
					<div class="fh5co-text col-md-4 animate-box">
						<h2>Display for Music Website</h2>
						<p>Personal writing of online music websites, and did not insert a lot of features.</p>
						<p><a href="/music/"  class="btn btn-light btn-outline transition">View Project</a></p>
					</div>
				</div>

			</div>
		</div>
		<!-- data-colorbg="#7bc74d" -->
		<div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="">
			<div class="container">
				<div class="fh5co-project-inner row">
					<div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
						<div class="img-holder-1 animate-box">
							<img src="{% static 'blog/images/work_4_large.jpg'%}" alt="Free HTML5 Bootstrap Template">
						</div>
						<div class="img-holder-2 animate-box">
							<img src="{% static 'blog/images/work_4_small.png'%}" alt="Free HTML5 Bootstrap Template">
						</div>
					</div>
					<div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
						<h2>technology column</h2>
						<p>Thank you when you click to go to my usual spare time to write some programming skills and technical tutorials</p>
						<p><a href="https://blog.csdn.net/weixin_43582101" class="btn btn-light btn-outline" target="_blank">View Project</a></p>
					</div>
				</div>

			</div>
		</div>

		<footer id="fh5co-footer" class="js-fh5co-waypoint">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p><small>Believe in benevolence<br> think carefully and be diligent<a href="/" target="_blank"></a><a href="/" target="_blank" title="lx">        @LX</a></small> </p>

					</div>
				</div>
			</div>
		</footer>

	</div>
	
			
	

	</body>
</html>

